/* Global Styles */
:root {
  --primary-color: #ff6600;
  --dark-color: #331400;
  --light-color: #ffe0cc;
  --danger-color: #ff0000;
  --success-color: #00ff00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--light-color);
  color: #000;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  /* max-width: 1100px; */
  width: 95%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

/* Text */
.center {
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  /* opacity: 0.9; */
}

/* IslandScreen */
.islandScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gameField {
  min-width: 600px;
  width: 70%;
}

.pointsField {
  min-width: 200px;
  width: 30%;
}

/* Hexagons */
/* svg g {
  stroke: none;
  transition: stroke 0.2s;
} */

svg g.sand {
  fill: #ffff99;
  fill-opacity: 0.7;
}

svg g.forest {
  fill: #66ff33;
  fill-opacity: 0.7;
}

svg g.stone {
  fill: #777;
  fill-opacity: 0.7;
}

svg g.water {
  fill: #0099ff;
  fill-opacity: 0.7;
}

/* svg g {
  fill: #4499a9;
  fill-opacity: 0.6;
}*/
svg g:hover {
  /* fill: #7be3f6;*/
  fill-opacity: 1;
  /* stroke: red;
  stroke-width: 0.1; */
  cursor: pointer;
}
/*svg g:hover text {
  fill-opacity: 1;
}
svg g.q .hexagon {
  fill: Red;
  fill-opacity: 0.4;
}
svg g.r .hexagon {
  fill: Green;
  fill-opacity: 0.4;
}
svg g.s .hexagon {
  fill: Blue;
  fill-opacity: 0.4;
}*/
svg g .active {
  /* fill: Coral;
  fill-opacity: 0.9; */
  stroke: orange;
  stroke-width: 0.5;
  stroke-opacity: 0.9;
}
/*svg g polygon {
  stroke: #7be3f6;
  stroke-width: 0.2;
  transition: fill-opacity 0.5s;
}*/
svg g text {
  font-size: 0.17em;
  fill: #000;
  fill-opacity: 0.7;
  transition: fill-opacity 0.5s;
  stroke: none;
}
svg path {
  fill: none;
  stroke: sandybrown;
  stroke-width: 0.05rem;
  stroke-opacity: 0.9;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* opacity: 0.8; */
}

/* CellsLeft */
.cellsLeft {
  position: absolute;
  fill-opacity: 0.7;
}

.cellsLeft text {
  font-size: 0.4rem;
}
